.historyCards {
    flex: 0.5;
    padding: 30px 10px;
    background-color: #161527;
    color: aliceblue;
}

.historyCards__Cards {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.historyCards__Info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.historyCards__Info>img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.historyCards__Info>h3 {
    padding-left: 10px;
}

.historyCards__Play>input {
    background-color: red;
    border: none;
    width: 100px;
    height: 20px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}