.trendingVideos {
    background-color: #161527;
    color: #fff;
    padding: 40px 10px;
    border: 1px solid red;
    height: 90vh;
    /* margin-right: auto;
    margin-left: auto; */
 
   
}

.trendingVideos__videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 10px;
}