.trendingVideos {
    background-color: #161527;
    color: #fff;
    padding: 40px 10px;
    height: 100%;
}

.trendingVideos__videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 10px;
}