.videoCard {
  margin-bottom: 40px;
  width: 270px;
  display: flex;
  flex-direction: column;

}
.videoCard__Info {
  padding-top: 12px;
}
.videoItem__avatar {
  margin-bottom: 12px;
}
.videoCard__thumbnail {
  height: 140px;
  width: 250px;
  cursor: pointer;
}