.videodetails {
    flex: 0.60;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
   
}
iframe {
    border: 1px solid rgb(45, 231, 28);
    /* display:flex;*/
    width: 700px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    /* flex-grow: 1; */
    margin: 10px;
}
.videodetails__vidinfo {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
  
}
.timeAndfavorite {
    display: flex;
    justify-content: space-between;
    margin: 10px 7px;
}
.timeAndfavorite button{
    border: none;
    background-color: #fff;
}

.timeAndfavorite {
    display: flex;
    justify-content: flex-end;
}