.front__page {
    display: flex;
    overflow: hidden;
    height: 100%;
}

.trending__FavoritesHistoy {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.historyFavorites__Wrapper {
    display: flex;
    background-color: #161527;
}